/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}
/* navbar */
.navbar{
  background: #1d1d1d;
  text-align: center;
  top: 0;
  padding: 15px; 
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar,ul{
  list-style: none;
}
.navbar,ul,li{
   display: inline-block;
   margin: 0 70px 0 0;
}
.navbar,ul,li,a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  font-size: 1.1rem; 
}
.navbar,ul,li,a:hover{
 color: aqua;
}
/* -----------home-----------*/
#home{
  width: 100%;
  height: 100vh;
  background: url("images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.home-content{
  padding: 250px 1000px 250px 50px;
  border-style: solid;
  border-radius: 50px;
  background-color: #1d1d1d99;
  border-color: #1d1d1d;
  margin-top: 100px;
}
#home .home-content h1 span{
  color: aqua;
}
/*---------about---------------*/
.about-content{
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 100px;
}
.about-content .img-thana{
  width: 300px;
  padding: 100px 0 100px 200px;
  border-right: 2px solid gray;
  padding-right: 25px;
}
.para{
  text-align: center;
}
.about-content p{
   margin: 0 300px 0 100px;
}
/*-----------Skills---------*/
#skills h3 {
  font-size: xx-large;
  text-align: center;
  position: relative;
  top: 150px;
  color: white;
}
.skills-grid
{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.skill-category{
  display: flex;
  position: relative;
}
.skill-category h4{
  text-align: left;
  width: 100px;
  padding: 100px;
  margin: 100px 5px;
  background-color: #1d1d1d;
  border-radius: 25px;
  transition: 0.5s;
}
.skill-category h4:hover{
  color: aqua;
}
.skill-items{
  width: 100px;
  margin: 100px 5px;
  padding: 100px ;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.skill-items:hover{
  opacity: 1;
}

.skill-items li{
  width: 200px;
  color: white;
  font-size: 14px;
}
/*----------experience--------------*/
#experience{
  width: 100%;
  height: auto;
  align-items: center;
}
#experience .exp{
  font-size: xx-large;
  text-align: center;
  margin: 25px;
  padding: 10px 0;
}
.experience-content{
  border: 2px solid #1d1d1d;
  background-color: #1d1d1d;
  margin: 40px;
  padding: 20px;
  border-radius: 25px;
}
.experience-content ul li{
  list-style: circle;
  font-size: 14px;
  color: white;
  text-align: justify;
  padding: 3px 30px;
  transition: 0.5s;
}
.experience-content ul li:hover{
  color: aqua;
}
.experience-content:hover{
  color: aqua;
}
/*----------education----------*/
#education .edu{
  font-size: xx-large;
  text-align: center;
  margin: 25px;
  padding: 10px 0;
}
.education-content h3,.education-content h4 {
  margin: 10px;        
}
.education-content{
  border-style: solid;
  border-radius: 15px;
  padding-left: 25px;
  margin: 50px;
  background-color: #1d1d1d;
  transition: 0.5s;
  
}
.education-content:hover{
  color: aqua;
}
#education{
  margin: 50px;
}
/*-------contact---------*/

