/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  width: 100%;
  height: 100vh;
}
/* navbar */
.navbar{
  background: #1d1d1d;
  text-align: center;
  top: 0;
  padding: 15px; 
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar,ul{ 
  list-style: none;
}
.navbar,ul,li{
   display: inline-block;
   margin: 0 70px 0 0;
}
.navbar,ul,li,a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.5s;
  font-size: 1.1rem; 
}
.navbar,ul,li,a:hover{
 color: aqua;
}
/* -----------home-----------*/
.social-icons{
  position: absolute;
  width: 700px;
  background-color: #1d1d1daf;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 0 0 50px 50px;
  top: 120px;
}
.social-icons a{
  color: white;
  transition: 0.5s;
}
#home{
  width: 100%;
  height: 100vh;
  background: url("/images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.home-content{
  width: 1200px;
  height: 600px;
  border-style: solid;
  border-radius: 50px;
  background-color: #1d1d1d99;
  border-color: #1d1d1d;
  display: flex;
  align-items: center;
}
.home-content h1,p{
  margin-left: 50px;
}
.deg{
  font-size: medium;
  font-style: italic;
}
.name{
  color: aqua;
}
/*---------about---------------*/
#about{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.about-content{
  display: flex;
  gap: 100px;
}
 .border{
  position: absolute;
  width:300px ;
  height: 500px;
  border: 5px solid white;
  bottom: -610px;
  left: 200px;
  z-index: -1;

  
} 
 .about-content .img-thana{
  margin-left:300px;
  width: 300px;
  padding-right: 25px;
 
}
.para{
  border-left: 2px solid white;
  text-align: justify;
  width: 900px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content p{
   margin: 10px;
   text-align: justify;
} 
/*-----------Skills---------*/
#skills{
  width: 100%;
  height: 100vh;
}
#skills h3 {
  text-align: center;
  position: absolute;
  padding: 60px;
  font-size: xx-large;
  color: white;
}
.skills-grid{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.skill-category{
  width: 300px;
  height: 250px;
  border: 2px solid rgba(72, 69, 69, 0.926);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

/*----------experience--------------*/
#experience{
  width: 100%;
  height: auto;
  align-items: center;
}
#experience .exp{
  font-size: xx-large;
  text-align: center;
  margin: 25px;
  padding: 10px 0;
}
.experience-content{
  border: 2px solid #1d1d1d;
  background-color: #1d1d1d;
  margin: 40px;
  padding: 20px;
  border-radius: 25px;
}
.experience-content ul li{
  list-style: circle;
  font-size: 14px;
  color: white;
  text-align: justify;
  padding: 3px 30px;
  transition: 0.5s;
}
.experience-content ul li:hover{
  color: aqua;
}
.experience-content:hover{
  color: aqua;
}
/*----------education----------*/
#education .edu{
  font-size: xx-large;
  text-align: center;
  margin: 25px;
  padding: 10px 0;
}
.education-content h3,.education-content h4 {
  margin: 10px;        
}
.education-content{
  border-style: solid;
  border-radius: 15px;
  padding-left: 25px;
  margin: 50px;
  background-color: #1d1d1d;
  transition: 0.5s;
  
}
.education-content:hover{
  color: aqua;
}
#education{
  margin: 50px;
}
/*-------contact---------*/

